@if (HotelData != null)
{
    <div class="invoice-card card-style mb-30">
        <div class="invoice-header">
            <div class="invoice-for">

                <h2 class="mb-10">@HotelData.HotelName</h2>
                <p class="text-sm">
                    @HotelData.HotelDescription
                </p>
            </div>
            <div class="invoice-date text-end">
                <p>
                    @HotelData.HotelPhonenumber
                </p>
                <p>
                    @for (int i = 1; i <= 5; i++)
                    {
                        if ((HotelData.HotelRatingStar - i) < 1 && (HotelData.HotelRatingStar - i) > 0)
                        {
                            <span class="mdi mdi-star-half-full"></span>
                        }
                        else if ((HotelData.HotelRatingStar - i) < 0)
                        {
                            <span class="mdi mdi-star-outline"></span>
                        }
                        else
                        {
                            <span class="mdi mdi-star"></span>
                        }
                    }
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="invoice-card card-style mb-30">
        <div class="invoice-header">
            <div class="invoice-for">

                <h2 class="mb-10">HOTEL NOT FOUND!</h2>
                <p class="text-sm">

                </p>
            </div>
            <div class="invoice-date text-end">
                <p>

                </p>
                <p>
                    <span class="mdi mdi-star-outline"></span>
                    <span class="mdi mdi-star-outline"></span>
                    <span class="mdi mdi-star-outline"></span>
                    <span class="mdi mdi-star-outline"></span>
                    <span class="mdi mdi-star-outline"></span>
                </p>
            </div>
        </div>
    </div>
}